@import 'title.css';

/* GLOBAL
--------------------------------------*/

body {
  background: url(../images/indianapolis.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

ul {
	list-style-type: none;
}

a { color: #808080; }
a:hover {
	text-decoration: none;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	text-align: left;
}

h1 {
	font-size: 7rem;
}

h2 { margin-top: 0; width: 50rem;}

.green {
	color: green;
}

.clear {
	clear: both;
}

/* TYPOGRAPHY
--------------------------------------*/

body {
	font-family: noto sans, sans-serif;
}

h1, h2, h3, h4, h5, h6, a, a:hover, a:active {
	font-family: roboto, sans-serif;
}



/* HEADER
--------------------------------------*/

nav.header {
	text-align: right;
	padding-top: 3rem;

}

nav.header ul li,
nav.header ul li a {
	display: inline-block;
	font-size: 1.5rem;
	padding: 0.5rem;
}

/* CONTENT
--------------------------------------*/

div.container {
	text-align: center;
}

